<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>投标申请表</title>
    <link rel="stylesheet" href="/application.css">
</head>

<body>
<header>招投标管理软件系统</header>
<nav>
    <ul>
        <li class="guide"><a href="#">招标申报</a></li>
        <li class="guide"><a href="#">申报审核</a></li>
        <li class="guide"><a href="#">编制邀标书</a></li>
        <li class="guide"><a href="#">投标申请</a></li>
        <li class="guide"><a href="#">标书审核</a></li>
        <li class="guide"><a href="#">评标会签</a></li>
        <li class="guide"><a href="#">评标小组管理</a></li>
        <li class="guide"><a href="#">评标管理</a></li>
        <li class="guide"><a href="#">合同签订</a></li>
        <li class="guide"><a href="#">供方管理</a></li>
        <li class="guide"><a href="#">招标总结</a></li>
    </ul>
</nav>
<main>
    <form action="/biddingmanagement/summit" method="post">
        <div class="head">投标申请表</div>
        <div class="blank">
            <ul class="ul">
                <li class="li"><div class="title">项目编号：</div><input type="text" name="projectId" th:value="${projectId != null ? projectId : ''}"></li>
                <li class="li"><div class="title">填报日期：</div><input type="datetime-local" name="OpDate" th:value="${table != null ? table.opDate : ''}"></li>
                <li class="li"><div class="title">投标单位：</div><input type="text" name="company" th:value="${table != null ? table.company : ''}"></li>
            </ul>
            <ul class="ul right">
                <li class="li"><div class="title">投标编号：</div><input type="text" name="no" th:value="${table != null ? table.no : ''}"></li>
                <li class="li"><div class="title">单位负责人：</div><input type="text" name="principal" th:value="${table != null ? table.principal : ''}"></li>
                <li class="li"><div class="title">填报人：</div><input type="text" name="userid" th:value="${table != null ? table.userid : ''}"></li>
            </ul>
            <div class="bottom">
                <div class="title">备注：</div>
                <input type="text" class="comment" name="comment">
            </div>
            <button class="summit">提交</button>
        </div>
    </form>
</main>

</div>
</body>

</html>
